/* RESET  */

* {
    margin: 0;
    /* margem  */
    padding: 0;
    /* espaçamento interno  */
    font-size: 100%;
    /* tamanho da fonte  */
    font-family: 'Roboto', sans-serif;
    /* estilo da fonte  */
    font-weight: normal;
    /* largura da fonte */
    box-sizing: border-box;
    /* tamanho da caixa  */
    border: none;
    /* borda  */
    outline: none;
    /* linha de fundo */
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    /* 1 em = 16 px  */
    color: #333;
}

p {
    font-size: 1em;
    color: #778;
}


/* CABEÇALHO */

.cabec {
    width: 100%;
    /* ir de uma ponta a outra  */
    float: left;
    padding: 50px 8%;
    background-color: #16d4bb;
}

.logo a {
    width: 84px;
    height: 97px;
    float: left;
    background-image: url(../imagem/logo.jfif);
    font-size: 0;
}

.cabec form {
    width: 30%;
    float: right;
}

.cabec input[type="text"] {
    width: 85%;
    float: left;
    padding: 15px 10px;
    border-radius: 10px 0 0 10px;
}

.cabec button {
    width: 15%;
    float: right;
    padding: 15px 10px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    background-color: white;
    background: linear-gradient(to bottom, #777, #fff);
    color: black;
}


/* MENU  */

.menu {
    width: 100%;
    float: right;
    background-color: black;
    padding: 18px 8%;
}

.menu li {
    float: left;
}

.menu li a {
    color: cornsilk;
    margin-right: 25px;
}

.menu li a:hover {
    color: crimson;
    font-size: 1.05em;
}


/* REDES SOCIAS */

.redes {
    float: right;
}

.redes a {
    color: cornsilk;
    float: left;
    margin-left: 25px;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #00ace0;
}

.fa-instagram:hover {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.fa-google:hover {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.fa-youtube:hover {
    color: #c4202b;
}

.fa-linkedin:hover {
    color: #0e76a8;
}


/* PRINCIPAL */

.principal {
    width: 100;
    float: left;
    padding: 16px 8%;
}

.sobre {
    width: 70%;
    float: left;
    padding: 0 20px 20px 0;
}

.sobre h2 {
    margin-bottom: 15px;
}

.sobre img {
    width: 50%;
    float: left;
    border-radius: 6px;
    margin: 0 15px 15px 0;
}

.sobre p {
    text-align: justify;
    font-size: 1.2em;
}


/* ONDE ESTAMOS */

.onde_estamos {
    width: 30%;
    float: right;
    /* Temos que voltar para 10px 20px */
    padding: 10px 9px;
    background-color: rgb(226, 221, 221);
    border-radius: 11px;
}

.onde_estamos h2,
p {
    margin-bottom: 7px;
    text-align: center;
}

.onde_estamos iframe {
    width: 100%;
    height: 215px;
    margin: 9px 0;
}

.onde_estamos li {
    color: rgb(168, 38, 38);
    margin-bottom: 6px;
}


/* NEWSLETTER */

.cartas {
    width: 100%;
    background-color: #111;
    float: left;
    padding: 50px 8%;
}

.cartas h3 {
    font-size: 1.8em;
    color: #fff;
}

.cartas p {
    font-size: 1.2em;
    color: #fff;
    text-align: left;
}

.cartas form {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.cartas form input {
    width: 40%;
    margin-right: 1%;
    padding: 15px 10px;
    border: 1px solid #fff;
    border-radius: 9px;
    color: #fff;
    background-color: initial;
}

.cartas button {
    width: 17%;
    background-color: white;
    padding: 15px 10px;
    border-radius: 10px;
    float: right;
    cursor: pointer;
}

.final {
    background-color: #00acee;
    width: 100%;
    float: left;
    padding: 25px 8%;
}

.final p {
    color: black;
}